.inputs-city {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
}

.inputs-city input {
  color: var(--grey-placeholder);
  font-weight: var(--text-weight-light);
  font-size: var(--text-size-l);
  padding: 8px;
  border-radius: 5px;
  border: none;
  width: 100%;
}

.inputs-city input:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.icon {
  cursor: pointer;
  margin-left: 16px;
  color: var(--light-white);
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease-out;
}

.icon:hover {
  transform: scale(1.25);
}
