.top-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.top-buttons button {
  cursor: pointer;
  padding: 8px 12px 8px 12px;
  border-radius: 10px;
  border: none;
  transition: background-color 0.3s ease-in;
  background: transparent;

  font-size: var(--text-size-m);
  font-weight: var(--text-weight-medium);
  color: var(--light-white);
}

.top-buttons button:hover {
  background-color: var(--button-color-hover);
}
