.units-city {
  display: flex;
  justify-content: center;
  align-items: center;
}

.units-city span {
  margin: 0 4px;
  font-weight: var(--text-weight-medium);
}

.units-city button {
  background-color: transparent;
  border: none;
  font-size: var(--text-size-xl);
  color: var(--light-white);
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

.units-city button:hover {
  transform: scale(1.25);
}

@media (min-width: 768px) {
  .units-city {
    width: 25%;
  }
}
