.units-city {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.units-city span {
  margin: 0 4px;
  font-weight: 500;
}

.units-city button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

.units-city button:hover {
  transform: scale(1.25);
}
